@media only screen and (min-width: 601px) and (max-width: 991px), (max-height: 767px) and (min-width: 601px) {

    .ui.header.welcome {
        width: 80%;
        height: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15%;
        margin-left: -40%;
    }

    .logo {

        height: 100%;
        width: 100%;
        opacity: 0.4;
    }

    .ui.form.login {
        width: 80%;
        height: 60%;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .login-box {

        position: absolute;
        height: 350px;
        width: 350px;
        top: 50%;
        left: 50%;
        background: rgb(43, 216, 121);
        margin-top: -175px;
        margin-left: -175px;

        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    }

    .login-box-bg {

        position: absolute;
        height: 370px;
        width: 370px;
        top: 50%;
        left: 50%;
        background: rgb(14, 17, 0);
        margin-top: -185px;
        margin-left: -185px;

        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    }  
}