@media only screen and (max-width: 600px) {

    .ui.header.welcome {
        width: 80%;
        height: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15%;
        margin-left: -40%;
    }
    
    img.bg {
        
        position: fixed;
        top: 0;
        left: 0;
        content:url("http://faitechno.test/assets/background-portrait.png");

        height: auto;
        width: 100%;

        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size:  100% 100%;
        background-size:  100% 100%;
    }
    
    .mainLogo {
        width: 50px;
        height: 50px;
    }

    .ui.form.login {
        width: 80%;
        height: 75%;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .login-box {

        position: absolute;
        height: 270px;
        width: 270px;
        top: 50%;
        left: 50%;
        background: rgb(43, 216, 121);
        margin-top: -135px;
        margin-left: -135px;
    }

    .login-box-bg {

        position: absolute;
        height: 280px;
        width: 280px;
        top: 50%;
        left: 50%;
        background: rgb(14, 17, 0);
        margin-top: -140px;
        margin-left: -140px;
    }  
}