@media only screen and (max-width: 600px) {

    .ui.header.welcome {
        width: 80%;
        height: 65%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -32.5%;
        margin-left: -40%;
    }

    .mainLogo {
        width: 20px;
        height: 20px;
    }

    .logo {

        height: 100%;
        width: 100%;
        opacity: 0.4;
    }

    .ui.form.login {
        width: 80%;
        height: 75%;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .login-box {

        position: absolute;
        height: 270px;
        width: 270px;
        top: 50%;
        left: 50%;
        background: rgb(43, 216, 121);
        margin-top: -135px;
        margin-left: -135px;

        -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
        clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
    }

    .login-box-bg {

        position: absolute;
        height: 280px;
        width: 280px;
        top: 50%;
        left: 50%;
        background: rgb(14, 17, 0);
        margin-top: -140px;
        margin-left: -140px;

        -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
        clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
    }  
}