@media only screen and (min-width: 992px) and (min-height: 768px) {

    .ui.header.welcome {
        width: 80%;
        height: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15%;
        margin-left: -40%;
    }

    img.bg {
        /* Set rules to fill background */
        min-width: 1024px;
        content:url("http://faitechno.test/assets/background.png");
          
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
          
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }

    @media screen and (max-width: 1024px) { /* Specific to this particular image */
        img.bg {
            left: 50%;
            margin-left: -512px;   /* 50% */
        }
    }

    .mainLogo {
        width: 50px;
        height: 50px;
    }

    .ui.form.login {
        width: 80%;
        height: 205px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .login-box {

        position: absolute;
        height: 250px;
        width: 350px;
        top: 50%;
        left: 50%;
        background: rgb(43, 216, 121);
        margin-top: -125px;
        margin-left: -175px;
    }

    .login-box-bg {

        position: absolute;
        height: 270px;
        width: 370px;
        top: 50%;
        left: 50%;
        background: rgb(14, 17, 0);
        margin-top: -135px;
        margin-left: -185px;
    }  
}